<div class="header">
  <!-- <H2>Hello Im <span>Elin Florentino.</span><br>
    Im a full-stack web developer</H2> -->
</div>
<div class="container">
  <main>
    <div class="main-header">
      <h2>Project <i class="icon ion-md-cog"></i>
      </h2>
    </div>
    <div class="card">
      <div class="card-img">
        <img src={{project.imgRuta}} alt="img">
      </div>
      <div class="card-text">
        <a href="#">
          <h3><b>{{project.nombre}}</b></h3>
        </a>
        <p><b>Description: </b> {{project.descripcion}}</p>
        <p><b>Tecnologias: </b>{{project.tecnologias}}</p>
        <p><b>Framework: </b>{{project.framework}}</p>

      </div>
    </div>
    <button  (click)="goBack()">Go back</button>
    <a class="btn" href="{{project.link}}" target="blank">Ir a Proyecto</a>
  </main>
</div>
