.container {
  display: flex;
  justify-content: center;
  height: auto;
}
.header {
  border: 1px black solid;
  height: 200px;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: black;
  background-image: url(src/assets/img/background.jpg);
  background-size: contain;
}
main {
  width: 65%;
  height: auto;
  margin-top: 5%;
}
.main-header {
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-family: "Newsreader", serif;
  /* background: rgb(2, 2, 31); */
}
.main-header h2,
icon {
  line-height: 50px;
}
.icon {
  color: white;
}
.card {
  flex-wrap: wrap;
  position: relative;
  padding: 10px 10px;
  background:linear-gradient(#204581,#6478e6);
  border-radius: 10px;
  text-align: center;
  /* z-index: -1; */
  /* border:1px gray solid; */
}
.card-img{
  text-align: center;
  width: 100%;
  height: auto;
}
.card-img img {
  width: 100%;
  border-radius: 10px;
}
.card-text {
  font-family: "Vollkorn", serif;
  color: beige;
  font-size: 30px;
}
.card-text h3{
  text-align: center;
  padding: 0;
}
.card-text p {
  margin-top: 5px;
}
.card-text a {
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
button {
  color: black;
  border: 1px solid black;
  background: transparent;
  /* transition: 1s; */
  cursor: pointer;
  border-radius: 10px;
  float: left;
  margin-top: 15px;
  margin-right: 5px;
  padding: 0.75rem 1.25rem;
  /* margin-top: 5px; */
}
button:hover {
  color: white;
  background: black;
}
button:active {
  color: black;
  background: transparent;
}
