<nav>
  <div class="nav-center">
    <input type="checkbox" id="btn-navbar">
    <label for="btn-navbar" class="menu-icon"><i class="icon ion-md-menu"></i></label>
    <a class="logo" routerLink=""><i class="icon ion-md-briefcase"></i>
      Elin´s Portfolio</a>
    <ul class="nav-links">
      <li>
        <div class="zoom"><a routerLink="">Home</a></div>
      </li>
      <li>
        <div class="zoom"><a routerLink="proyects">Proyects</a></div>
      </li>
      <li>
        <div class="zoom"><a routerLink="about">About</a></div>
      </li>
      <li>
        <div class="zoom"><a routerLink="contact">Contact</a></div>
      </li>
    </ul>
  </div>
</nav>
