<div class="container">
  <div class="header">
    <H2>Hello Im <span>Elin Florentino.</span><br>
      Im a full-stack web developer</H2>
      <div class="list">
        <ul><h3>Tools / Languages:</h3>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Jquery</li>
        <li>Boostrap</li>
        <li>Github</li>
      </ul>
      <ul><h3>DataBase:</h3>
        <li>Sql Server</li>
        <li>MySql</li>
        <li>FireBase</li>
      </ul>
      <ul><h3>Frameworks:</h3>
        <li>Angular</li>
      </ul>
      </div>
       <button class="btn" routerLink="">Home</button>
       <button class="btn" routerLink="projects">See my Projects</button>
      <button class="btn" routerLink="contac">Contact</button>
  </div>

</div>
