  <div class="header">
    <H2>Hello Im <span>Elin Florentino.</span><br>
      Im a full-stack web developer</H2>
  </div>
  <div class="container">
  <main>
    <div class="main-header">
      <h2>Proyests <i class="icon ion-md-cog"></i>
      </h2>
    </div>
    <div class="main-body">
      <div class="card">
        <div class="card-img">
          <img src="./assets/img/Cliente.JPG" alt="img">
        </div>
        <div class="card-text">
          <a href="#">
            <h3>App-Clientes</h3>
          </a>
          <p>Description: Esta app regista clientes por medio de un formlario y los datos son guardados en Firebase</p>
        </div>
        <div class="card-footer">
          <button>Learn More..</button>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="./assets/img/Cliente.JPG" alt="img">
        </div>
        <div class="card-text">
          <a href="#">
            <h3>App-Clientes</h3>
          </a>
          <p>Description: Esta app regista clientes por medio de un formlario y los datos son guardados en Firebase</p>
        </div>
        <div class="card-footer">
          <button>Learn More..</button>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="./assets/img/Cliente.JPG" alt="img">
        </div>
        <div class="card-text">
          <a href="#">
            <h3>App-Clientes</h3>
          </a>
          <p>Description: Esta app regista clientes por medio de un formlario y los datos son guardados en Firebase</p>
        </div>
        <div class="card-footer">
          <button>Learn More..</button>
        </div>
      </div>
    </div>

  </main>
</div>
