.container {
  height: 100vh;
  justify-content: center;
  background-color: white;
  border: 1px white solid;
  background-image: url(https://fotografias.lasexta.com/clipping/cmsimages02/2019/04/16/ACC84DDD-9104-4DFE-AF62-86F7BBF28C13/58.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 30px;
}
.header {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.header span {
  color: lightseagreen;
}
.btn{
  margin-top: 20px;
  color: white;
  border: 1px solid black;
  background:linear-gradient(#204581,#6478e6);
  /* background: transparent; */
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 15px;
}
.btn:hover{
  background:linear-gradient(#204581,#040a2e)
}
